In [127]:
import pandas as pd
import numpy as np
from datetime import datetime

In [94]:
df = pd.read_csv("Mobile_Reviews_Sentiment.csv")

In [95]:
df.head()

,review_id,customer_name,age,brand,model,price_usd,price_local,currency,exchange_rate_to_usd,rating,...,verified_purchase,battery_life_rating,camera_rating,performance_rating,design_rating,display_rating,review_length,word_count,helpful_votes,source
0,1,Aryan Maharaj,45,Realme,Realme 12 Pro,337.31,₹27996.73,INR,83.00,2,...,True,1,1,3,2,1,46,7,1,Amazon
1,2,Davi Miguel Sousa,18,Realme,Realme 12 Pro,307.78,R$1754.35,BRL,5.70,4,...,True,3,2,4,3,2,74,12,5,Flipkart
2,3,Pahal Balay,27,Google,Pixel 6,864.53,₹71755.99,INR,83.00,4,...,True,3,5,3,2,4,55,11,8,AliExpress
3,4,David Guzman,19,Xiaomi,Redmi Note 13,660.94,د.إ2425.65,AED,3.67,3,...,False,1,3,2,1,2,66,11,3,Amazon
4,5,Yago Leão,38,Motorola,Edge 50,792.13,R$4515.14,BRL,5.70,3,...,True,3,3,2,2,1,73,12,0,BestBuy

In [96]:
# Duplicate 
duplicate = df[df.duplicated()]

In [97]:
print(duplicate)

Empty DataFrame
Columns: [review_id, customer_name, age, brand, model, price_usd, price_local, currency, exchange_rate_to_usd, rating, review_text, sentiment, country, language, review_date, verified_purchase, battery_life_rating, camera_rating, performance_rating, design_rating, display_rating, review_length, word_count, helpful_votes, source]
Index: []

[0 rows x 25 columns]

In [98]:
drop_duplicate = df.drop_duplicates()

In [99]:
drop_duplicate

,review_id,customer_name,age,brand,model,price_usd,price_local,currency,exchange_rate_to_usd,rating,...,verified_purchase,battery_life_rating,camera_rating,performance_rating,design_rating,display_rating,review_length,word_count,helpful_votes,source
0,1,Aryan Maharaj,45,Realme,Realme 12 Pro,337.31,₹27996.73,INR,83.00,2,...,True,1,1,3,2,1,46,7,1,Amazon
1,2,Davi Miguel Sousa,18,Realme,Realme 12 Pro,307.78,R$1754.35,BRL,5.70,4,...,True,3,2,4,3,2,74,12,5,Flipkart
2,3,Pahal Balay,27,Google,Pixel 6,864.53,₹71755.99,INR,83.00,4,...,True,3,5,3,2,4,55,11,8,AliExpress
3,4,David Guzman,19,Xiaomi,Redmi Note 13,660.94,د.إ2425.65,AED,3.67,3,...,False,1,3,2,1,2,66,11,3,Amazon
4,5,Yago Leão,38,Motorola,Edge 50,792.13,R$4515.14,BRL,5.70,3,...,True,3,3,2,2,1,73,12,0,BestBuy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,49996,Rebecca Pratt,18,Realme,Realme 12 Pro,526.10,A$804.93,AUD,1.53,4,...,False,3,3,4,3,5,60,12,4,BestBuy
49996,49997,Dr. Tiffany Patterson,28,Samsung,Galaxy Note 20,911.85,A$1395.13,AUD,1.53,3,...,False,3,2,4,1,3,64,11,2,AliExpress
49997,49998,Alexandra Singh,21,Apple,iPhone SE,1155.32,د.إ4240.02,AED,3.67,5,...,True,2,3,4,4,5,64,11,4,Amazon
49998,49999,Robert Morris,31,Realme,Realme Narzo 70,459.04,$459.04,USD,1.00,3,...,True,1,2,2,1,3,56,10,6,AliExpress
49999,50000,Regina Dennis MD,44,Motorola,Moto G Power,380.16,$380.16,USD,1.00,5,...,True,4,5,4,5,3,55,11,7,BestBuy

In [100]:
is_unique = df["review_id"].is_unique # verify review_id is unique

In [101]:
is_unique

True

In [130]:
df['customer_name'] = df['customer_name'].str.strip() # remove leading/trailing spaces
df['customer_name'] = df['customer_name'].str.title() # make casing consistent

In [104]:
df.head()

,review_id,customer_name,age,brand,model,price_usd,price_local,currency,exchange_rate_to_usd,rating,...,verified_purchase,battery_life_rating,camera_rating,performance_rating,design_rating,display_rating,review_length,word_count,helpful_votes,source
0,1,Aryan Maharaj,45,Realme,Realme 12 Pro,337.31,₹27996.73,INR,83.00,2,...,True,1,1,3,2,1,46,7,1,Amazon
1,2,Davi Miguel Sousa,18,Realme,Realme 12 Pro,307.78,R$1754.35,BRL,5.70,4,...,True,3,2,4,3,2,74,12,5,Flipkart
2,3,Pahal Balay,27,Google,Pixel 6,864.53,₹71755.99,INR,83.00,4,...,True,3,5,3,2,4,55,11,8,AliExpress
3,4,David Guzman,19,Xiaomi,Redmi Note 13,660.94,د.إ2425.65,AED,3.67,3,...,False,1,3,2,1,2,66,11,3,Amazon
4,5,Yago Leão,38,Motorola,Edge 50,792.13,R$4515.14,BRL,5.70,3,...,True,3,3,2,2,1,73,12,0,BestBuy

In [105]:
print("Customer names standardized successfully!")

Customer names standardized successfully!

In [106]:
df.to_csv("Mobile_Reviews_Sentiment_clean.csv", index=False)

In [107]:
df = pd.read_csv("Mobile_Reviews_Sentiment.csv")

In [108]:
df['sentiment'] = df['sentiment'].str.strip().str.lower()

In [109]:
def get_sentiment(rating):
    if rating >= 4:
        return 'positive'
    elif rating == 3:
        return 'neutral'
    else:
        return 'negative'

df['sentiment'] = df['rating'].apply(get_sentiment)

In [110]:
print(df[['rating', 'sentiment']].head(10))

   rating sentiment
0       2  negative
1       4  positive
2       4  positive
3       3   neutral
4       3   neutral
5       5  positive
6       3   neutral
7       2  negative
8       4  positive
9       3   neutral

In [111]:
df['language'] = df['language'].str.strip().str.lower()

In [112]:
language_map = {
    'english': 'en',
    'en': 'en',
    'eng': 'en',
    'spanish': 'es',
    'es': 'es',
    'esp': 'es',
    'french': 'fr',
    'fr': 'fr',
    'german': 'de',
    'de': 'de',
    'italian': 'it',
    'it': 'it',
    'hindi': 'hi',
    'hi': 'hi',
    'chinese': 'zh',
    'zh': 'zh',
    'mandarin': 'zh'
}

In [113]:
df['language'] = df['language'].replace(language_map)

In [114]:
valid_iso_codes = ['en', 'es', 'fr', 'de', 'it', 'hi', 'zh']
df = df[df['language'].isin(valid_iso_codes)]

In [115]:
df.to_csv("Mobile_Reviews_Sentiment_clean.csv", index=False)

In [116]:
print("Language column standardized to valid ISO codes!")

Language column standardized to valid ISO codes!

In [117]:
df.head()

,review_id,customer_name,age,brand,model,price_usd,price_local,currency,exchange_rate_to_usd,rating,...,verified_purchase,battery_life_rating,camera_rating,performance_rating,design_rating,display_rating,review_length,word_count,helpful_votes,source
0,1,Aryan Maharaj,45,Realme,Realme 12 Pro,337.31,₹27996.73,INR,83.00,2,...,True,1,1,3,2,1,46,7,1,Amazon
2,3,Pahal Balay,27,Google,Pixel 6,864.53,₹71755.99,INR,83.00,4,...,True,3,5,3,2,4,55,11,8,AliExpress
3,4,David Guzman,19,Xiaomi,Redmi Note 13,660.94,د.إ2425.65,AED,3.67,3,...,False,1,3,2,1,2,66,11,3,Amazon
6,7,Gina Moore,40,OnePlus,OnePlus 12,420.13,د.إ1541.88,AED,3.67,3,...,False,3,3,2,1,2,58,10,2,eBay
7,8,James Howard,39,Apple,iPhone SE,1443.76,A$2208.95,AUD,1.53,2,...,True,2,1,2,2,2,56,8,3,Amazon

In [19]:
df['year'] = df['review_date'].dt.year
df['month'] = df['review_date'].dt.month
df['day'] = df['review_date'].dt.day 
print(['df'])

In [0]:
df.head

In [118]:
#4a, NUMERICAL CONSISTENCY
def clean_price(x):
    if isinstance(x, str):
        x = x.replace(",", "").replace("₹", "").replace("R$", "").replace("د.إ", "").strip()
    try:
        return float(x)
    except:
        return np.nan

df['price_usd'] = df['price_usd'].apply(clean_price)
df['price_local'] = df['price_local'].apply(clean_price)
df['exchange_rate_to_usd'] = pd.to_numeric(df['exchange_rate_to_usd'], errors='coerce')

In [119]:
tolerance = 0.01
price_check = np.isclose(df['price_local'] / df['exchange_rate_to_usd'], df['price_usd'], atol=tolerance)
misaligned_prices = df[~price_check]
print(df[~np.isclose(df['price_local'] / df['exchange_rate_to_usd'], df['price_usd'], atol=0.01)])

       review_id          customer_name  age     brand            model  \
7              8           James Howard   39     Apple        iPhone SE
8              9          Rosalia Beyer   32    Realme    Realme 12 Pro
9             10           Valerie Gray   31   OnePlus   OnePlus Nord 3
10            11     Aimee Hurst-Taylor   20    Realme    Realme 12 Pro
11            12       Benjamin Stanley   30    Xiaomi        Mi 13 Pro
...          ...                    ...  ...       ...              ...
49993      49994          Shawn Mueller   47    Google         Pixel 7a
49995      49996          Rebecca Pratt   18    Realme    Realme 12 Pro
49996      49997  Dr. Tiffany Patterson   28   Samsung   Galaxy Note 20
49998      49999          Robert Morris   31    Realme  Realme Narzo 70
49999      50000       Regina Dennis MD   44  Motorola     Moto G Power

       price_usd  price_local currency  exchange_rate_to_usd  rating  ...  \
7        1443.76          NaN      AUD                  1.53       2  ...
8         275.73          NaN      EUR                  0.93       4  ...
9         545.57          NaN      AUD                  1.53       3  ...
10        462.30          NaN      GBP                  0.78       3  ...
11        495.45          NaN      CAD                  1.38       2  ...
...          ...          ...      ...                   ...     ...  ...
49993     949.60          NaN      CAD                  1.38       5  ...
49995     526.10          NaN      AUD                  1.53       4  ...
49996     911.85          NaN      AUD                  1.53       3  ...
49998     459.04          NaN      USD                  1.00       3  ...
49999     380.16          NaN      USD                  1.00       5  ...

      verified_purchase battery_life_rating camera_rating performance_rating  \
7                  True                   2             1                  2
8                 False                   4             3                  2
9                  True                   2             2                  3
10                 True                   4             1                  3
11                 True                   1             2                  1
...                 ...                 ...           ...                ...
49993              True                   5             5                  5
49995             False                   3             3                  4
49996             False                   3             2                  4
49998              True                   1             2                  2
49999              True                   4             5                  4

      design_rating  display_rating  review_length  word_count  helpful_votes  \
7                 2               2             56           8              3
8                 3               3             60          12              8
9                 3               2             72          12              4
10                5               2             70          12              0
11                2               1             66          13              2
...             ...             ...            ...         ...            ...
49993             5               4             81          14              2
49995             3               5             60          12              4
49996             1               3             64          11              2
49998             1               3             56          10              6
49999             5               3             55          11              7

           source
7          Amazon
8            eBay
9         BestBuy
10           eBay
11         Amazon
...           ...
49993    Flipkart
49995     BestBuy
49996  AliExpress
49998  AliExpress
49999     BestBuy

[31196 rows x 25 columns]

In [120]:
df.head()

,review_id,customer_name,age,brand,model,price_usd,price_local,currency,exchange_rate_to_usd,rating,...,verified_purchase,battery_life_rating,camera_rating,performance_rating,design_rating,display_rating,review_length,word_count,helpful_votes,source
0,1,Aryan Maharaj,45,Realme,Realme 12 Pro,337.31,27996.73,INR,83.00,2,...,True,1,1,3,2,1,46,7,1,Amazon
2,3,Pahal Balay,27,Google,Pixel 6,864.53,71755.99,INR,83.00,4,...,True,3,5,3,2,4,55,11,8,AliExpress
3,4,David Guzman,19,Xiaomi,Redmi Note 13,660.94,2425.65,AED,3.67,3,...,False,1,3,2,1,2,66,11,3,Amazon
6,7,Gina Moore,40,OnePlus,OnePlus 12,420.13,1541.88,AED,3.67,3,...,False,3,3,2,1,2,58,10,2,eBay
7,8,James Howard,39,Apple,iPhone SE,1443.76,NaN,AUD,1.53,2,...,True,2,1,2,2,2,56,8,3,Amazon

In [121]:
#4b, NUMERICAL CONSISTENCY
rating_columns = [
    'battery_life_rating',
    'camera_rating',
    'performance_rating',
    'design_rating',
    'display_rating'
]

invalid_ratings = df[
    (df[rating_columns] < 1).any(axis=1) |
    (df[rating_columns] > 5).any(axis=1)
]
print(invalid_ratings)

Empty DataFrame
Columns: [review_id, customer_name, age, brand, model, price_usd, price_local, currency, exchange_rate_to_usd, rating, review_text, sentiment, country, language, review_date, verified_purchase, battery_life_rating, camera_rating, performance_rating, design_rating, display_rating, review_length, word_count, helpful_votes, source]
Index: []

[0 rows x 25 columns]

In [122]:
# Empty dataframe means rating columns are all within the range of 1-5

In [123]:
# Validate review_length and word_count against review_text
mismatch_review_length = df[df['review_length'] != df['review_text'].str.len()]
mismatch_word_count = df[df['word_count'] != df['review_text'].str.split().str.len()]

In [131]:
# 4d, HELPFUL VOTES
df["helpful_votes"] = df["helpful_votes"].astype(int).clip(lower=0)

In [132]:
print(df["helpful_votes"])

0        1
2        8
3        3
6        2
7        3
        ..
49995    4
49996    2
49997    4
49998    6
49999    7
Name: helpful_votes, Length: 43581, dtype: int64

In [36]:
# Standardize brand and model names
df['brand'] = df['brand'].str.strip().str.title()
df['model'] = df['model'].str.strip().str.title()

In [38]:
#Verify currency
# Check valid currency values
valid_currencies = {'USD', 'INR', 'BRL', 'AED'}
invalid_currency = df.loc[~df['currency'].isin(valid_currencies), 'currency']
print(invalid_currency)

7        AUD
8        EUR
9        AUD
10       GBP
11       CAD
        ...
49986    AUD
49991    GBP
49993    CAD
49995    AUD
49996    AUD
Name: currency, Length: 24761, dtype: object

In [39]:
# Standardize source columns (all lowercase)
df['source'] = df['source'].str.lower().str.strip()
print(df['source'])

0            amazon
2        aliexpress
3            amazon
6              ebay
7            amazon
            ...
49995       bestbuy
49996    aliexpress
49997        amazon
49998    aliexpress
49999       bestbuy
Name: source, Length: 43581, dtype: object

In [40]:
df.head()

,review_id,customer_name,age,brand,model,price_usd,price_local,currency,exchange_rate_to_usd,rating,...,verified_purchase,battery_life_rating,camera_rating,performance_rating,design_rating,display_rating,review_length,word_count,helpful_votes,source
0,1,Aryan Maharaj,45,Realme,Realme 12 Pro,337.31,₹27996.73,INR,83.00,2,...,True,1,1,3,2,1,46,7,1,amazon
2,3,Pahal Balay,27,Google,Pixel 6,864.53,₹71755.99,INR,83.00,4,...,True,3,5,3,2,4,55,11,8,aliexpress
3,4,David Guzman,19,Xiaomi,Redmi Note 13,660.94,د.إ2425.65,AED,3.67,3,...,False,1,3,2,1,2,66,11,3,amazon
6,7,Gina Moore,40,Oneplus,Oneplus 12,420.13,د.إ1541.88,AED,3.67,3,...,False,3,3,2,1,2,58,10,2,ebay
7,8,James Howard,39,Apple,Iphone Se,1443.76,A$2208.95,AUD,1.53,2,...,True,2,1,2,2,2,56,8,3,amazon

In [42]:
df.shape

(43581, 25)

In [12]:
#6a, NEW FEATURES
df['verified_purchase_binary'] = df['verified_purchase'].astype(int)
print(df['verified_purchase_binary'])

0        1
1        1
2        1
3        0
4        1
        ..
49995    0
49996    0
49997    1
49998    1
49999    1
Name: verified_purchase_binary, Length: 50000, dtype: int64

In [18]:
df.head()

,review_id,customer_name,age,brand,model,price_usd,price_local,currency,exchange_rate_to_usd,rating,...,battery_life_rating,camera_rating,performance_rating,design_rating,display_rating,review_length,word_count,helpful_votes,source,verified_purchase_binary
0,1,Aryan Maharaj,45,Realme,Realme 12 Pro,337.31,27996.73,INR,83.00,2,...,1,1,3,2,1,46,7,1,Amazon,1
1,2,Davi Miguel Sousa,18,Realme,Realme 12 Pro,307.78,1754.35,BRL,5.70,4,...,3,2,4,3,2,74,12,5,Flipkart,1
2,3,Pahal Balay,27,Google,Pixel 6,864.53,71755.99,INR,83.00,4,...,3,5,3,2,4,55,11,8,AliExpress,1
3,4,David Guzman,19,Xiaomi,Redmi Note 13,660.94,2425.65,AED,3.67,3,...,1,3,2,1,2,66,11,3,Amazon,0
4,5,Yago Leão,38,Motorola,Edge 50,792.13,4515.14,BRL,5.70,3,...,3,3,2,2,1,73,12,0,BestBuy,1

In [77]:
#6b, review sentiment score
def sentiment_score(sentiment):
    if sentiment =='Positive':
        return 1
    elif sentiment == 'Neutral':
        return 0
    else:
        return 1

df['review_sentiment'] = df['sentiment'].apply(sentiment_score)
print(df['review_sentiment'])

0        1
1        1
2        1
3        1
4        0
        ..
49995    1
49996    0
49997    1
49998    1
49999    1
Name: review_sentiment, Length: 50000, dtype: int64

In [78]:
#6c, Average rating
rating_columns = ['battery_life_rating', 'camera_rating', 'performance_rating', 'design_rating','display_rating']  # example columns
df['average_rating'] = df[rating_columns].mean(axis=1)
print(df[['average_rating']].head())

   average_rating
0             1.6
1             2.8
2             3.4
3             1.8
4             2.2

In [80]:
#6d, NEW FEATURES
def length_category(count):
    if count < 10:
        return 'short'
    elif count == 10:
        return 'medium'
    else:
        return 'long'

df['review_length'] = df['word_count'].apply(length_category)
print(df['review_length'])

0         short
1          long
2          long
3          long
4          long
          ...
49995      long
49996      long
49997      long
49998    medium
49999      long
Name: review_length, Length: 50000, dtype: object